{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Request a Service</title>
  <link rel="stylesheet" href="{% static 'client/root.css' %}">
  <link rel="stylesheet" href="{% static 'client/auth.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
  <h1 id="auth_title">Reno</h1>
  <div class="form_wrapper">
    <div class="title_container">
      <h2>Request a Service</h2>
    </div>

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="input_field">
        <span><i class="fas fa-heading"></i></span>
        {{ form.title }}
      </div>

      <div class="bubble_field">
        <div class="bubble-group">
          {% for checkbox in form.services_needed %}
            {{ checkbox.tag }}
            <label for="{{ checkbox.id_for_label }}">{{ checkbox.choice_label }}</label>
          {% endfor %}
        </div>

        {% if form.services_needed.errors %}
          <div class="form_error">
            {% for error in form.services_needed.errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}
      </div>

      <div class="input_field">
        <span><i class="fas fa-location-dot"></i></span>
        {{ form.location }}
      </div>

      <div class="input_field textarea_field">
        <span><i class="fas fa-align-left"></i></span>
        {{ form.description }}
      </div>

      <div class="input_field">
        <span><i class="fas fa-image"></i></span>
        {{ form.image }}
      </div>

      <input type="submit" value="Submit Request">
    </form>
    <div class="link_container" style="text-align:center; margin-top:10px;">
      <a href="{% url 'home' %}" class="register-button">Return Home</a>
    </div>
  </div>
</body>
</html>